
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag item.image.variant(resize: '500x500'), class: 'card-img-top img-fluid' if item.image.attached? %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= item.item_name %></h5>
        <div class="card-text"><%= item.user.name %></div>
        <div class="card-text"><small class="text-muted"><%= l item.created_at %></small></div>
        <div class="card-text">
          <span class="sell-yen">¥</span>
          <%= item.price %>
        </div>
        <div class="card-text"><small class="text-muted"><%= item.content %></small></div>
      </div>
    </div>
  </div>
</div>