<div class="item">
  <div class="upper-item">
    <div class="item-user">
      <%= item.user.name %>
    </div>
    <div class="item-date">
      <%= l item.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="item-name">
      <%= item.item_name %>
    </div>
    <div class="item-price">
      <%= item.price %>
    </div>
    <div class="item-content">
      <%= item.content%>
    </div>
    <%= image_tag item.image.variant(resize: '500x500'), class: 'item-image' if item.image.attached? %>
  </div>
</div>