<div class="itemlist-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">お店を削除する</a>
    </div>
  </div>
</div>

<div class="items">
  <%= render partial: 'item', collection: @items %>
</div>

<%= form_with model: [@store, @item], class: 'form', local: true do |f| %>
  <div class="form">
    <div class="form-detail">
      <%= f.text_field :item_name, class: 'form-item', placeholder: '商品名' %>
      <%= f.text_field :price, class: 'form-price', placeholder: 'price'%>
    </div>
    <div class="form-memo">
      <%= f.text_area :content, class: 'form-message', placeholder: 'memo' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
      <%= f.submit '送信', class: 'form-submit' %>
    </div>
  </div>
<% end %>